@model Vidly.ViewModels.NewCustomerViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

@*name of action (and what controller) called when form is submitted*@ 
@using (@Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.Name)
        @Html.TextBoxFor(c => c.Customer.Name, new { @class = "form-control"})
    </div>
    <div class="form-group">
        <label>Date of birth</label>
        @Html.TextBoxFor(c => c.Customer.DoB, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Membership type</label>
        @Html.DropDownListFor(c => c.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Description"), "Select membership type", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        @*note diff class for checkbox. refer to getbootstrap/css/ for ref*@
        <label>
            @Html.CheckBoxFor(c => c.Customer.IsSubscribedToNewsletter) Subscribed to newsletter?
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

